body {
    font-family: 'Montserrat', sans-serif;
}

.card-header {
    background-color: #56baed;
    color: #fff;
}

.card-body p {
    font-size: 16px;
}

.alert {
    font-size: 14px;
    margin-top: 20px;
}