body {
    font-family: 'Montserrat', sans-serif;
    background-color: #56baed;
    color: #fff;
}

.card-header {
    background-color:#0c0c0c;
    color: #fff;
}

.table thead th {
    background-color: #7956ed;
    color: #fff;
}
