{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İlaçlarım</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/ilaclarım.css' %}">
</head>
<body class="w3-black">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">İlaç Öneri Sistemi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'bilgilerim' %}">Bilgilerim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ilaclarım' %}">İlaçlarım</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'medReq' %}">İlaç Önerisi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
    <div class="container mt-5">
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">İlaçlar</h6>
                </div>
                <div class="card-body">
                    <h1 class="h4">İlaçlarım</h1>
                    {% if medications %}
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>İlaç Adı</th>
                                    <th>Etken Hastalık</th>
                                    <th>Alerjen Madde</th>
                                    <th>Kronik Rahatsızlık</th>
                                    <th>Araç Kullanımı</th>
                                    <th>Kalan Süre (Gün)</th>
                                    <th>Kullanım Talimatı</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for name, active_ingredient, allergens, kronik_rahatsizlik, arac_kullanimi, remaining_days, kullanım_talimatı in medications %}
                                <tr>
                                    <td>{{ name }}</td>
                                    <td>{{ active_ingredient }}</td>
                                    <td>{{ allergens }}</td>
                                    <td>{{ kronik_rahatsizlik }}</td>
                                    <td>{{ arac_kullanimi|yesno:"Kullanabilir,Kullanamaz" }}</td>
                                    <td>{{ remaining_days }}</td>
                                    <td>{{ kullanım_talimatı }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <p>İlaç Seçilmedi.</p>
                    {% endif %}
                    <a href="{% url 'medReq' %}" class="btn btn-primary mt-3">İlaç Önerisi Al</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
